.gallery h2 {
  margin-bottom: 22.26px !important;
}

.gallery {
  padding-top: 70px;
  text-align: center;
}

.gallery h4 {
  font-weight: 400;
  font-size: 1.25rem;
}

.gallery img {
  height: 278.7253px;
  margin-top: 46px;
}